.clients span{
    color:rgb(56,201,14);
    font-size: 45px;
}
.clients{
    font-size: 30px;
    text-align: center;
}
.paras{
    display: flex;
    margin-bottom: 4%;
}
.para1{
    background-color:rgb(255, 255, 255) ;
    border-bottom: 15px rgb(56,201,14) solid;
    font-size: 20px;
    margin-left: 15%;
    padding-left: 2%;
    padding-right: 2%;
    padding: 2%;

}
.para2{
    background-color:rgb(255, 255, 255) ;
    border-bottom: 15px rgb(56,201,14) solid;
    font-size: 20px;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding: 3%;
    margin-right: 15%;
    margin-left: 2%;
}
.cnttxt{
    font-size: 30px;
    color: white;
    margin-left: 8% ;
}
.input-box{
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    background-color: white;
    outline: none;
    border: none;
    font-size: 20px;
}
.inp{
    width: 40%;
    box-shadow:0 0 2px 0 rgba(255, 255, 255, 0.3);
    background:rgb(212,212,212) 100%;
    padding:6%;
    padding-right: 7%;
    margin: 8% auto 0;
    text-align: left;
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.msg-box{
    border-radius: 10px;
    text-align: left;
    padding: 40px;
    width: 89%;
    background-color: white;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 2%;
    padding-left: 2%;
    padding-top: 3%;
    padding-bottom: 18%;
    padding-right: 13%;
}
.snd-btn{
    border-radius: 30px;
    font-size: 20px;
    border: none;
    padding: 15px;
    width: 50%;
    margin-top: 4%;
    margin-left: -1%;
    color: white;
    background-color: rgb(56,201,14);
    outline: none
    
}
.snd-btn:hover{
    color: white;
    background-color: rgb(250, 41, 41);
}
.cntus {
    display: flex;
    background-image: url(Images/lights.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.map{
    margin-top: -47.5%;
    margin-left: 65%;
    margin-bottom: 5%;
}

.overlay2{
    background-color: rgba(55, 201, 14, 0.781) ;
    width: 100%;
}